<div>
  <div>
    <select [(ngModel)]="day"
            style="display: inline-block; width: 90px; margin-right: 10px; padding: 5px 10px">
      <option>{{initDay}}</option>
    </select>
    <input type="month" [(ngModel)]="month"
           style="display: inline-block; width: 90px; margin-right: 10px; padding: 5px 10px"/>
    <input type="text" [(ngModel)]="year"
           style="display: inline-block; width: 90px; margin-right: 10px; padding: 5px 10px"/>
  </div>
  {{day}} {{month}} {{year}}
  <button>Next</button>
</div>
