<div class="container">
  <div>
    <button style="display: block; margin-bottom: 15px; width: 150px">Google</button>
    <button style="display: block; margin-bottom: 15px; width: 150px">Facebook</button>
    <button style="display: block; margin-bottom: 15px; width: 150px">Phone</button>
  </div>
  <div>
    <button style="display: block; margin-bottom: 15px; width: 150px" routerLink="/signin/email">Log in with email</button>
  </div>
  <div>
    <button style="display: block; margin-bottom: 15px; width: 150px" routerLink="/signup">Sign up with email</button>
  </div>

</div>

