<div class="container">
  <div *ngIf="step === 1">
    <div class="page w-100" style="padding-top: 15px">
      <h2 class="bold-24 ">What’s your gender?</h2>
      <div class="gender-wrapper">
        <div>
          <input type="radio" id="male" name="gender-radio" value="male" [class.active]="isActiveMale"
                 [(ngModel)]="genderValue" (click)="changeClassMale()">
          <label class="male" for="male">
            <img [src]="isActiveMale ? 'assets/images/Group%20147.svg':'assets/images/Group%20146.svg' " alt="pic">
            <span class="text regular-20">Male</span>
            <span class="chosen" [class.visible]="isActiveMale === true">
            <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 6.5L6 11L14 1" stroke="#6FCF97" stroke-width="2"/>
            </svg>
          </span>
          </label>
        </div>
        <div class="">
          <input type="radio" id="female" name="gender-radio" value="female" [class.active]="isActiveFemale"
                 [(ngModel)]="genderValue" (click)="changeClassFemale()">
          <label class="female" for="female">
            <img [src]="isActiveFemale ? 'assets/images/svg.svg':'assets/images/Group%20145.svg' " alt="pic">
            <span class="text regular-20">Female</span>
            <span class="chosen" [class.visible]="isActiveFemale === true">
          <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 6.5L6 11L14 1" stroke="#6FCF97" stroke-width="2"/>
          </svg>
        </span>
          </label>
        </div>
      </div>

      <div class="ellipse-wrapper">
        <div class="ellipse-black"></div>
        <div class="ellipse-grey"></div>
        <div class="ellipse-grey"></div>
      </div>
      <div class="btn-wrapper">
        <button class="w-100 accept-button" (click)="changeStep(2)" [disabled]="!genderValue"
        >Next
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="step === 2">
    <div class="page">
      <div class="bdate-content">
        <h2 class="bold-24 mb-60">When is your birthday?</h2>
        <div class="d-flex select-wrapper">
          <select class="input-style bold-20" style="width: 20%;"
                  [(ngModel)]=birthDay>
            <option style="color: black; font-size: 14px" [value]="day" ngDefaultControl
                    *ngFor="let day of days">{{day}}</option>
          </select>

          <select class="input-style bold-20" style="width: 40%;"
                  [(ngModel)]="birthMonth">
            <option [value]="i" *ngFor="let month of months; index as i" ngDefaultControl
                    style="color: black; font-size: 14px">{{month}}</option>
          </select>

          <select class="input-style bold-20" style="width: 30%;"
                  [(ngModel)]="birthYear">
            <option *ngFor="let year of yearOptions" style="color: black; font-size: 14px"
                    [value]="year" ngDefaultControl>{{year}}</option>
          </select>
        </div>
      </div>
      <div class="btn-content w-100">
        <div class="ellipse-wrapper">
          <div class="ellipse-grey"></div>
          <div class="ellipse-black"></div>
          <div class="ellipse-grey"></div>
        </div>
        <p *ngIf="error" style="color: red">The date is incorrect. Check it please and try again.</p>
        <div class="btn-wrapper">
          <button (click)="birthdayInputValidator()"
                  [disabled]="!birthDay || !birthMonth || !birthYear"
                  class="w-100 accept-button">Next
          </button>
          <button (click)="changeStep(1)" class="regular-16"
                  style="display: block; padding: 16px 10px; border: none">Previous step</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="step === 3">
    <div class="page">
      <div class="bdate-content">
        <h2 class="bold-24 mb-60">What is your name?</h2>
        <div class="mb-60">
          <input type="text" id="name" class="input-style bold-20 d-block w-100"
                 style="display:block;" [(ngModel)]="userName"/>
        </div>
      </div>
      <div class="btn-content w-100">
        <div class="ellipse-wrapper">
          <div class="ellipse-grey"></div>
          <div class="ellipse-grey"></div>
          <div class="ellipse-black"></div>
        </div>
        <div class="btn-wrapper">
          <button (click)="addProfileInfo()" [disabled]="!userName || userName.length == 0"
                  class="w-100 accept-button" >Next
          </button>
          <button (click)="changeStep(2)" class="regular-16"
                  style="display: block; padding: 16px 10px; border: none">Previous step</button>
        </div>
      </div>
    </div>
  </div>
</div>
