<div class="container">
  <div class="">
    <div id="gender-page" class="w-100" *ngIf="step === 1">
      <h2 class="bold-24 ">What’s your gender?</h2>
      <div class="gender-wrapper">
        <div>
          <input type="radio" id="male" name="gender-radio" value="male" [class.active]="isActiveMale"
                 [(ngModel)]="genderValue" (click)="changeClassMale()">
          <label class="male" for="male">
            <img [src]="isActiveMale ? 'assets/images/Group%20147.svg':'assets/images/Group%20146.svg' " alt="pic">
            <span class="text regular-20">Male</span>
            <span class="chosen" [class.visible]="isActiveMale === true">
            <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 6.5L6 11L14 1" stroke="#6FCF97" stroke-width="2"/>
            </svg>
          </span>
          </label>
        </div>
        <div class="">
          <input type="radio" id="female" name="gender-radio" value="female" [class.active]="isActiveFemale"
                 [(ngModel)]="genderValue" (click)="changeClassFemale()">
          <label class="female" for="female">
            <img [src]="isActiveFemale ? 'assets/images/svg.svg':'assets/images/Group%20145.svg' " alt="pic">
            <span class="text regular-20">Female</span>
            <span class="chosen" [class.visible]="isActiveFemale === true">
          <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 6.5L6 11L14 1" stroke="#6FCF97" stroke-width="2"/>
          </svg>
        </span>
          </label>
        </div>
      </div>

      <div class="ellipse-wrapper">
        <div class="ellipse-black"></div>
        <div class="ellipse-grey"></div>
        <div class="ellipse-grey"></div>
      </div>
      <div class="btn-wrapper">
        <button  class="w-100 accept-button" (click)="changeStep(2)" [disabled]="!genderValue"
                >Next
        </button>
      </div>
    </div>
    </div>
    <div *ngIf="step === 2">
      <div style="margin-bottom: 15px;" >

        <select style="display: inline-block; min-width: 70px; margin-right: 15px;"
                [(ngModel)] = birthDay>
          <option style="color: black; font-size: 14px" [value]="day" ngDefaultControl
                  *ngFor="let day of days">{{day}}</option>
        </select>

        <select style="display: inline-block; min-width: 70px; margin-right: 15px;"
                [(ngModel)]="birthMonth">
          <option [value]="i" *ngFor="let month of months; index as i" ngDefaultControl
                  style="color: black; font-size: 14px">{{month}}</option>
        </select>

        <select style="display: inline-block; min-width: 70px; margin-right: 15px;"
                [(ngModel)]="birthYear">
            <option *ngFor="let year of yearOptions" style="color: black; font-size: 14px"
                    [value]="year" ngDefaultControl>{{year}}</option>
        </select>

      </div>
      <div class="ellipse-wrapper">
        <div class="ellipse-grey"></div>
        <div class="ellipse-black"></div>
        <div class="ellipse-grey"></div>
      </div>
      <div>
        <p *ngIf="error" style="color: red">The date is incorrect. Check it please and try again.</p>
        <button (click)="birthdayInputValidator()"
                [disabled]="!birthDay && !birthMonth && !birthYear"
                style="display: block; margin-bottom: 15px; width: 150px">Next</button>
        <button (click)="changeStep(1)"> Previous step </button>
      </div>
    </div>
    <div *ngIf="step === 3">
      <div style="margin-bottom: 15px;">
        <input type="text" id="name"  [(ngModel)]="userName"/>
        <label for="name">Name</label>
      </div>
      <div class="ellipse-wrapper">
        <div class="ellipse-grey"></div>
        <div class="ellipse-grey"></div>
        <div class="ellipse-black"></div>
      </div>
      <div>
        <button (click)="addProfileInfo()" [disabled]="!userName || userName.length == 0"
                style="display: block; margin-bottom: 15px; width: 150px">Next</button>
        <button (click)="changeStep(2)"> Previous step </button>
      </div>
    </div>
  </div>
