<div>
  <mat-toolbar class="nav">
    <a class="nav-link" [routerLink]="'profile/home'"><span class="material-icons nav-icon active">home</span></a>
    <a class="nav-link" [routerLink]="'profile/statistic'"><span class="material-icons nav-icon">equalizer</span></a>
    <a class="nav-link" [routerLink]="'profile/training'" ><span class="material-icons nav-icon">play_arrow</span></a>
    <a class="nav-link" [routerLink]="'profile'"><span class="material-icons nav-icon">perm_identity</span></a>
  </mat-toolbar>
</div>
