<div class="container">
  <div class="page-wrapper">
    <header>
      <a class="prev-pg-link" href="#"></a>
    </header>
    <span class="heading">Training</span>
    {{combination}}
  </div>
  <app-combination-choice class="mb-20"></app-combination-choice>
  <div>
    <span class="bold-18 d-block mb-15">Number of throws:</span>
    <div class="mb-10">
      <input type="radio" id="five" name="attempts" value="5"/>
      <label for="five" class="bold-18">5</label>
    </div>
    <div class="mb-10">
      <input type="radio" id="ten" name="attempts" value="10"/>
      <label for="ten" class="bold-18">10</label>
    </div>
    <div class="mb-10">
      <input type="radio" id="twenty" name="attempts" value="20"/>
      <label for="twenty" class="bold-18">20</label>
    </div>
  </div>
</div>

