<div>
  <p style="display: inline-block">Personal Info</p>
  <button style="display: none">Done</button>
  <div>
    <div>
      <img src="" alt="pic"/>
      <button>Change photo</button>
    </div>
    <div>
      <p>Basic Detail</p>
      <div>
        <label>Full name</label>
        <input type="text" style="display: block; width: 100%"/>
      </div>
      <div>
        <label>Date of birth</label>
        <input type="text" style="display: block; width: 100%"/>
      </div>
      <div>
        <label>Gender</label>
        <input type="radio" name="gender" value="male" style="display: inline-block; width: 50%"/>
        <input type="radio" name="gender" value="female" style="display: inline-block; width: 50%"/>
      </div>
    </div>
    <div>
      <p>Contact Detail</p>
      <div>
        <label>Email</label>
        <input type="email"/>
      </div>
    </div>
  </div>
</div>
